/* style.css */
body {
	background-color: rgb(37, 37, 37);
}

#horizontal {
	display: flex;
justify-content: center;
align-items: center;
}

#vertical {
	margin: 20px auto;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}